
<h1>Recyle Centers</h1>

<form action="/search" method="get">
    <label for="search">Search:</label>
    <input type="text" id="search" name="q" placeholder="Search by name, material, ...">
    <button type="submit">Find</button>
    
  </form>
  <button class="add_center" (click)="add_center()">Add center details</button>

  <table class="center">
    <thead>
      <tr>
        <th>Center Name</th>
        <th>Address</th>
        <th>City</th>
        <th>Country</th>
        <th>Material</th>
        <th>Operating hours</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let center of centers" >
        <td>{{center.name}}</td>
        <td>{{center.address}}</td>
        <td>{{center.nameCity}}</td>
        <td>{{center.nameCountry}}</td>
        <td>{{center.material}}</td>
        <td>{{center.hours}}</td>
      </tr>
    </tbody>
  </table>
