<div class="container">
    <div class= "header">
        <div class="logo"><img src="assets/logo.jpg"></div>
        <div class= "username">  </div>
        <div class= "logout">logout</div>
        
        </div>
    
    <div class ="container-links">
        <table class="table-recycling">
            <thead>
                <tr>
                    <th>Recycling Centers:</th>
                    <th>Recycling Rewards:</th>
                </tr>
            </thead>
    
            <tbody>
                <tr>
                    <td><img src="assets/recycle-center.jpg"> </td>
                    <td><img src="assets/reward.jpg"> </td>
                </tr>
                <tr>
                    <td> <button (click)="recycleCenter()">Recycling Centers</button></td>
                    <td> <button (click)="rewards()">Recycling Rewards</button></td>
                </tr>
            </tbody>
    
        </table>
    </div>
    
    </div>
    
        
    